/.idea/
/gateway-service/mvnw.cmd
/gateway-service/mvnw
/gateway-service/.mvn/
/users-service/.mvn/
/users-service/mvnw
/users-service/mvnw.cmd
/gateway-service/target/
/users-service/target/
/gateway-service/gateway-service.iml
/courses-manager.iml
/users-service/user-service.iml
